html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background: #fffcf9;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 6rem auto;
  max-width: 40rem;
  padding: 1rem;
}

section h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 .5rem;
}

a {
  color: #07a;
  text-decoration: underline;
}

section ul {
  margin-bottom: 1.5rem;
  padding-left: 3rem;
}

li {
  margin: 0.5rem 0;
}

footer li {
  display: inline;
  margin-right: 1rem;
  white-space: nowrap;
}

p {
  margin-bottom: 1.5rem;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic
}

code,
pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1rem;
}

code {
  background: #e5e5e5;
  border-radius: 3px;
  color: #333;
  padding: 3px 5px;
}

pre {
  background: #242424;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  margin-left: -10%;
  overflow-x: auto;
  padding: 1em;
  width: 120%;
}

pre code {
  background: none;
  color: #f2f2f2 !important;
  padding: 0;
}

blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  padding-left: 1.5rem;
}

footer a,
.post-link {
  text-decoration: none;
}

footer a:hover,
.post-link:hover {
  text-decoration: underline;
}

.no-bullet {
  list-style-type: none;
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: underline;
}

.light {
  color: #535353;
}

.lighter {
  color: #888;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.post-date {
  font-size: small;
  margin-left: 0.5rem;
}

@media screen and (max-width: 800px) {
  pre {
    margin-left: 0;
    width: inherit;
  }
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}
