<head>
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} - {{ $.Site.Title }}{{end}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Site.Params.Description }}">
    {{ template "_internal/opengraph.html" . }}
    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="{{ "css/main.css" | absURL }}" />
    <link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}" />
    {{ partial "font.html" . }}
    <script>
        // To prevent Firefox flash of unstyled content
        let FF_FOUC_FIX;
    </script>
</head>
