{{ define "main" }}
    <div class="light mb-5">
        <h1 class="inline"><a href="/" class="light no-underline">{{ .Site.Title }}</a></h1>
        <span>
            {{ range .Site.Menus.main }}
                &middot; <a href="{{ .URL }}" class="lighter no-underline">{{- .Name -}}</a>
            {{ end }}
        </span>
    </div>
    {{ range (where .Site.Pages "Type" "post").GroupByPublishDate "2006" }}
        <h2>{{ .Key }}</h2>
        <ul class="no-bullet">
            {{ range (where .Pages "Type" "post") }}
            <li>
                <time
                    datetime='{{ .PublishDate.Format "2006-01-02" }}'
                    title='{{ .PublishDate.Format "2006-01-02" }}'
                    class="post-date">{{ .PublishDate.Format "Jan" }}</time> <a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}
